VITE_ADMIN_UID=seu_admin_uid_aqui
VITE_APIKEY=sua_api_key_aqui
VITE_AUTHDOMAIN=seu_projeto.firebaseapp.com
VITE_PROJECTID=seu_projeto_id
VITE_DATABASEURL=https://seu_projeto-default-rtdb.firebaseio.com/
VITE_STORAGEBUCKET=seu_projeto.appspot.com
VITE_MESSAGINGSENDERID=seu_messaging_sender_id
VITE_APPID=seu_app_id
VITE_MEASUREMENTID=seu_measurement_id
