/* NoteCard.module.css */

@import "styles/Variaveis.css";

.noteCard {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 30px 10px;
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
  background-color: #d8ceca;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 180px;
  border: 2px solid #a9a9a9;
}

.noteCard p {
  margin-bottom: 8px;
}

.link_img {
  padding: 10px 0;
}


