/* NotePage.module.css */
.noteList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.folderCard {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.notePage {
  min-width: auto; /* Set the desired maximum width for the page */
  margin: 0 auto; /* Center align the content within the page */
  background-image: url(FundoAnotacoes.webp);
  background-size: cover;
  min-height: 1080px;
  max-height: 2550px;
}

/* Add this to make the folderCard and noteList sections wrap when the width is limited */
.folderCard,
.noteList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some gap between items */
}