/* RegisterComponent.module.css */
.registerForm h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif; 
  padding: 10px 0;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
  }
  
  .inputField {
    margin-bottom: 10px;
    width: 100%;
    margin: 10px;
  }

  .error {
    margin: 10px 5px;
  }
  
  .registerButton {
    width: 100%;
    margin: 12px 0;
  }
  