.noteAddcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color-blue);
  padding: 20px;  
  border-radius: 5px 5px 80px 80px;
  box-shadow: var(--card-box-shadow);
}

.fileInputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: var(--card-bg-color-grey);
  border: 2px dashed var(--bg-color-blue);
  padding: 16px;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.fileInputSelected {
  border-color: green;
  background-color: rgba(0, 189, 0, 0.733);
}

.customFileInputButton {
  font-size: 14px;
  color: black;
}

.fileInput {
  display: none;
}


.noteAdd button {
  background-color: rgb(0, 158, 0);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.noteAdd button:hover {
  background-color: green;
}
