.musicaCard {
  border: 1px solid var(--card-bg-color-gray);
  position: relative;
  border-radius: 8px;
  padding: 16px;
  margin: 20px 0;
  display: flex;
  gap: 16px;
  background-color: var(--card-bg-color);
  box-shadow: var(--card-box-shadow);
}

.imageContainer {
  flex: 0 0 auto;
  width: 85px;
  height: 200px;
  position: relative;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.playButton {
  position: absolute;
  bottom: 0;
  top: 10px;
  left: 6px;
  background-color: var(--background-button);
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.audioControl {
  position: fixed;
  margin-top: 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px;
  background-color: var(--card-bg-color-gray);
  z-index: 1000;  
}

.audioControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.audioButton {
  background-color: transparent;
  border: none;
  color: var(--background-button);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

/* Style for the loop icon */
.loopIconOn {
  color: green;
}

.loopIconOff {
  color: var(--delete-button-color);
}

.audioButton:hover {
  color: var(--background-button-hol);
}

.detailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.artista {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #666;
  margin-top: 4px;
}

.deleteButton {
  background-color: var(--delete-button-color);
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.deleteButton:hover {
  background-color: var(--delete-button-color-holver);
}