.mapasPage {
    margin: 0 auto; /* Center align the content within the page */
    background-image: url(./Castle.gif);
    background-position: bottom;
    background-size: cover;
    min-height: 1080px;
    max-height: 2550px;
  }
