/* FichaPage.module.css */

/*
.espacamento {
  padding: 30px;
}

.pageContainer Button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.div Button {
  margin-bottom: 10px;
  margin-top: 0;
  padding: 10px;
  font-size: 12px;
}

.pageContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: black 2px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.h2Habilidades {
  font-size: 24px;
  margin-top: 10px;
  color: #8b491b;
  text-decoration: underline #bf8f00;
}

.P_Habilidades {
  font-size: 18px;
  color: #8b491b;
  text-decoration: underline #bf8f00;
}

.p {
  margin-left: 10px;
}


.espacamentoSelects {
  margin: 20px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.espacamentoTextoItem {
  margin: 15px 0;
  line-height: 30px;
}

.checkBox {
  margin-left: 15px;
}

.divTexto {
  margin: 15px 0;
  line-height: 22px;
}

.label {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.input {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 16px;
}

.button {
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #0056b3;
}


.painelHabilidades {
  position: absolute;
  top: 50px; 
  left: 300px;
  background-color: white;
  border: 1px solid #ccc; 
  padding: 10px; 
  z-index: 1000; 
}

@media screen and (max-width: 2220px) {
  .painelHabilidades {
    position: inherit;
  }
}

*/