/* seu-novo-css.module.css */

.container {
  padding: 20px;
  background-color: #f0f0f0;
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.createButton {
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cardInfo {
  margin-bottom: 8px;
}

.card Button {
  color: #fff;
  margin: 8px;
}

/* seu-novo-css.module.css */

/* Estilos para tablets e celulares */
@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Estilos para celulares */
@media screen and (max-width: 576px) {
  .card {
    width: calc(100% - 20px);
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .createButton {
    margin-bottom: 15px;
  }

  .cardTitle {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .cardInfo {
    margin-bottom: 6px;
  }

  .card button {
    margin: 6px;
  }
}
