.classeBardo {
  background-image: url(./backgounds/bard.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classeBárbaro {
  background-image: url(./backgounds/Barbarian.jpg);
  background-position: bottom;
  background-size: auto;
  min-height: 100vh;
}

.classeBruxo {
  background-image: url(./backgounds/Warlock.jpg);
  background-position: center;
  background-size: auto;
  min-height: 100vh;
}

.classeClérigo {
  background-image: url(./backgounds/cleric.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classeDruida {
  background-image: url(./backgounds/Druid.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classeFeiticeiro {
  background-image: url(./backgounds/Sorcerer.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classeGuerreiro {
  background-image: url(./backgounds/warrior.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classeLadino {
  background-image: url(./backgounds/Rogue.jpg);
  background-position: center;
  background-size: auto;
  min-height: 100vh;
}

.classeMago {
  background-image: url(./backgounds/1306600.jpg);
  background-position: bottom;
  background-size: auto;
  min-height: 100vh;
}

.classeMonge {
  background-image: url(./backgounds/Monk.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.classePaladino {
  background-image: url(./backgounds/Paladin.jpg);
  background-position: center;
  background-size: auto;
  min-height: 100vh;
}

.classePatrulheiro {
  background-image: url(./backgounds/theresa-konigseder-haller-half-elf-ranger.jpg);
  background-position: top;
  background-size: auto;
  min-height: 100vh;
}

.fundo {
  padding: 60px 0;
}

.pageContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.espacamentoTextoItem {
  margin: 15px 0;
  line-height: 30px;
}

.pageTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  margin: 16px 0;
}

.cardContent {
  padding: 16px;
}

.sectionTitle {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  color: #833c0b;
  font-weight: 600;
  text-decoration: underline #bf8f00;
}

.listItem {
  margin-left: 10px;
  padding: 5px 0;
}

.spanBold {
  font-weight: bold;
}

/* Header */

.header {
  display: flex;
  border-bottom: #bf8f00 solid 1px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header span {
  font-weight: bold;
  color: #833c0b;
}

/* atributos */

.titleAtributos {
  font-weight: bold;
  text-align: center;
  color: #833c0b;
  padding-bottom: 20px;
  text-decoration: underline #bf8f00;
}

.atributos {
  position: absolute;
  background-color: #f5f5f5;
  top: 10%;
  left: 20%;
  padding: 25px;
  font-size: 22px;
  border-radius: 10px;
}

.listItemAtributos {
  display: flex;
  padding: 20px 15px;
  border: black 1px solid;
  text-align: start;
  align-items: center;
}

.iconAtributo {
  padding-right: 10px;
}

/* support */

.support {
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
}

.supportLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
