.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .navItem {
    font-size: 16px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .navLink:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #ff9900;
    text-decoration: underline;
  }
  
  .userIcon {
    display: flex;
    align-items: center;
    color: white;
  }

  .logoutModal {
    background-color: #2c332f;
    border: #2c332f solid 2px;
  }
  

  @media screen and (max-width: 768px) {
    .nav {
      flex-direction: column; /* Altere a direção da flexbox para empilhar verticalmente */
      padding: 10px; /* Ajuste o preenchimento conforme necessário */
    }
    
    .navList {
      flex-direction: column; /* Empilhe os itens verticalmente */
      gap: 10px; /* Ajuste o espaço entre os itens conforme necessário */
    }
    
    .navItem {
      font-size: 14px; /* Reduza o tamanho da fonte conforme necessário */
      margin-bottom: 10px;
    }
  
    /* Adicione outros estilos específicos para essa resolução aqui */
  }
  